#contact-container{
	width: 30vw;
	margin: 30vh auto;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(black, grey);
	color: gold;

	border-radius: 25px;
}

#contact-title-text{
	font-size: 5vh;
	text-align: center;
	margin-bottom: 3vh;
}

#phone-number-cont{
	font-size: 3vh;
	text-align: center;
}

#phone-number{
	font-weight: bold;
}

#address{
	font-size: 3vh;
	text-align: center;
}

@media screen and (max-width: 900px){
	#contact-container{
		width: 50vw;
		margin: 30vh auto;
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(black, grey);
		color: gold;

		border-radius: 25px;
	}
}

@media screen and (max-width: 600px){
	#contact-container{
		width: 80vw;
		margin: 30vh auto;
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(black, grey);
		color: gold;

		border-radius: 25px;
	}

	#phone-number-cont{
	font-size: 2vh;
	text-align: center;
}
}